[Desktop Entry]
Type=Application
Name=1Password Watchdog
Exec=/usr/libexec/1password-watchdog.sh
Icon=1password
Comment=1Password watchdog script
X-DBUS-StartupType=Unique
StartupNotify=false
